<button type="button" (click)="changeTheme()" class="btn btn-primary theme">change table theme</button>
<p style="margin-left:10px;">books</p>
<table [ngClass]="status? 'table' : 'table table-dark'"> 
    <tbody>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>genre</th>
            <th>author</th>
            <th>rating</th>
            <th>price</th>
            <th>order</th>
        </tr>
     <tr *ngFor="let book of books; let i = index">
         <td>i</td>
         <td>{{book.name}}</td>
         <td>{{book.genre}}</td>
         <td>{{book.author}}</td>
         <td>{{book.rating}}</td>
         <td>{{book.price}}</td>
     </tr>       
    </tbody>
</table>